{% extends 'base.html.twig' %}

{% block body %}
      {{ form_start(editUserForm) }}
			{{ form_row(editUserForm.name) }}
			{{ form_row(editUserForm.city) }}
			{{ form_row(editUserForm.street) }}
        
            <button type="submit">Zmień</button>
        {{ form_end(editUserForm) }}
{% endblock %}