{% extends 'base.html.twig' %}

{% block body %}
	<div clas="row">
        <div class="col s6">
        	  <table>
            	<thead>
                      <tr>
                          <th>Nazwa</th>
                          <th>Cena</th>
                          <th>Ilość</th>
                          <th></th>
                      </tr>
                </thead>
                <tbody>
				{% set sum = 0 %}
                {% if is_granted('ROLE_USER') %}
                	{% for itemLoggedinUser in basketLoggedinUser %}
            		    <tr>
                        	<td>{{ itemLoggedinUser.item.name  }}</td>
                        	<td>{{ itemLoggedinUser.item.price  }}</td>
                        	<td>{{ itemLoggedinUser.amount  }}</td>
							 {% set sum = sum + itemLoggedinUser.item.price %}
                        	<td><a href="{{ path('deleteWithBasket', {'id':itemLoggedinUser.id})  }}">Usuń</a></td>
                      	</tr>
                  	{% endfor %}
					<a href="{{ path('realizationOrder')}}"><button class="waves-effect waves-light btn-large">Zrealizuj</button></a>
					<a href="{{ path('realizationByPayPall', {'amount':sum}) }}"><button class="waves-effect waves-light btn-large">PayPall</button></a>
			  {% else %}
            		{% for item in app.session.get('aBasket') %}
            			<tr>
                        	<td>{{ item.name }}</td>
                        	<td>{{ item.price }}</td>
                        	<td>{{ item.amount }}</td>
							{% set sum = sum + item.amount%}
                        	<td><a href="{{ path('deleteWithBasket', {'id':item.id})  }}">Usuń</a></td>
                      	</tr>
            		{% endfor %}
					<a href="{{ path('realizationByPayPall', {'amount':sum}) }}"><button class="waves-effect waves-light btn-large">PayPall</button></a>
					<a href="{{ path('realizationOrder')}}"><button class="waves-effect waves-light btn-large">Zrealizuj</button></a>
        	    {% endif %}
            	 </tbody>
               </table>
             
        </div>
    </div>
{% endblock %}